footer {
	position: relative;
	height: 50px;
    width: 100%;
    background-color: gray;
}

p{
    position: relative;
	width: 100%;
    color: #fff;
    line-height: 30px;
    font-size: 0.7em;
	text-align: center;
    bottom:0;
}

p.copyright {
	position: absolute;
	width: 100%;
    color: #fff;
    line-height: 60px;
    font-size: 0.7em;
	text-align: center;
    bottom:0;    
}